@model Events.Models.DTO.EventListVm
@{
}

<div class="tbl-container">
    <h2>Мероприятия</h2>

    <table>
        <tr>
            <th>Название</th>
            <th>Жанр</th>
            <th>Время начала</th>
            <th>Изображение</th>
            <th>Руководитель</th>
            <th>Организатор</th>
            <th>Жанр</th>
        </tr>
        @foreach(var item in Model.EventList){
            <tr>
                <td>@item.Title</td>
                <td>@item.GenreNames</td>
                <td>@item.StartDate</td>
                <td><img style="height: 60px; width:80px" src="~/Uploads/@item.EventImage" /></td>
                <td>@item.Leader</td>
                <td>@item.Organizer</td>
                <td>@item.GenreNames</td>
                <td>
                    <a href="/Event/Edit?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Точно уверен?')" href="/Event/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </table>
    <div class="input-container">
        <a href="/Event/Add" class="btn btn-sec">Back</a>
    </div>
</div>